.float-btn {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 50%;
  display: inline-block;
  color: $branco;
  transform: translateY(-50%);
  z-index: $z-terreo;
  transition  : opacity $t-time $t-function;

  &.is-visible {
    opacity: 1;
    pointer-events: all;
  }

  &__icon {
    border: 2px solid $preto;

    svg {
      height: $blh;
      width: $blh;
    }
  }


  &--previous {
    left: $blh;

    .float-btn__icon {
      transform: rotate(180deg);
    }
  }

  &--next {
    right: $blh;
  }

  a {
    display: block;
  }
}
